/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/

# rspec failure tracking
.rspec_status

# Packaging Artifacts
*.gem
/gemfiles/*.gemfile.lock
Appraisal.*.gemfile.lock
/gemfiles/.bundle/
